.legacy-content-wrapper{
    max-width: 1500px;
    margin: 42px auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 19px; 
}

.legacy-content-info{
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.legacy-content-info p{
    color:var(--colorTerciario);
}
.legacy-content-info span{
    font-weight: 600;
    font-size: 1rem;
    color: var(--colorPrincipal);
}

.legacy-content-info hr{
    border: 1px solid var(--colorNeutro);
}

.legacy-content-img{
    box-sizing: border-box;
    padding: 30px 0;
    width: 100%;
    height: 380px;
    display: flex;
    align-items: end;
    justify-content: center;
    background-image: url("public/img/legacy1.png");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-s{
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorPrincipal);
    padding: 12px 24px;
    text-decoration: none;
    color: white;

    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

.btn-active{
  margin-top: 32px;
  display: none;
}

.btn-dissable{
    display: block;
}

.btn-p span{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
  }

.legacy-content-text h2{
    font-size: 1.618rem;
    font-weight: 700;
}

.legacy-content-text p{
    color: var(--colorTerciario);
    font-size: 1rem;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
  .legacy-content-wrapper{
      flex-direction: row;
      gap: 0;
  }

  .legacy-content-info{
    width: 33%;
}
  .legacy-content-text{
      width: 100%;
  }
  .legacy-content-img{
      width: 66%;
  }

   .btn-active{
      display:flex;
  }

  .btn-dissable{
      display: none;
  }

  .legacy-content-img{
      height: 500px;
  }

}