.gallery-card-wrapper{
  min-height: 488px;
  min-width: 269px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.gallery-card-wrapper img{
  height: 100%;
  width: 100%;
}

.gallery-card-info{
}

.gallery-card-info h3{
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  color: var(--colorOscuro);
}

.gallery-card-info p{
  font-size: 0.62rem;
  font-weight: 500;
  color: var(--colorTerciario);
}