.opinions-crud-wrapper{
  padding-top: 84px;
  margin: 0 auto;
  max-width: 1500px;
  margin-bottom: 80px;
}

.opinion-form-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.opinions-crud-wrapper h1{
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: var(--fontPrincipal);
  font-size: 1.6rem;
  padding-left: 2rem;
}

.opinions-crud-wrapper h2{
  margin-top: 2rem;
  font-family: var(--fontPrincipal);
  font-size: 1.6rem;
  padding-left: 2rem;
}

.opinion-form{
  font-family: var(--fontPrincipal);
  font-weight: 600;
  font-size: 1.2rem;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 32px;
}

.option-add{
  background-color: var(--colorPrincipal);
  color: white;
  font-weight: 500;
  margin-right: 8px;
}


.name-input-wrapper{
  width: 20rem;
  flex-direction: column;
  align-items: start;
  align-items: center;
  gap: 1rem;
}

.text-input-wrapper{
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  
}

.star-input-wrapper{
  flex-direction: column;
  align-items: start;
  width: 15rem;
  display: flex;
  gap: 8px;
}

.opinion-input{
  width: 100%;
  height: 30px;
  border:none;
  background-color: var(--colorNeutro);
  padding: 8px 8px;
}

.opinion-input-text{
  width: 100%;
  height: 30px;
  border:none;
  background-color: var(--colorNeutro);
  padding: 8px 8px;
}
.opinion-input-star{
  width: 100%;
  height: 30px;
  border:none;
  background-color: var(--colorNeutro);
  padding: 8px 8px;
  text-align: center;
}

.form-hidden{
  display: none;
}

  .opinion-show-container{
    padding: 0 2rem ;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }


 /* ------------- modal  --------- */

 
.modal-wrapper{
  visibility: hidden;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.482);
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: flex;
  }
  
  .visible-modal{
    opacity: 1;
    visibility:visible;

  }
  .modal-content{
    background-color: white;
    background-color: aqua;
    width: 45rem;
    margin: 20% auto;
    max-width:50rem;
    scale: 0.6;
    transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .show-modal{
    scale: 1;
    opacity: 1;
  }


  .modal-header{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorPrincipal);
    color: white;
    font-size: 1.2rem;
  } 

  .modal-opinion-form{
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: start;
      padding: 1rem 2rem;
      gap: 1rem;
      background-color: var(--colorNeutro);
  }
  
  .modal-wrapper .modal-tittle{
    margin: 0;
    padding: 0;
  }

.modal-input-wrapper{
  width: 100%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  label{
    font-family: var(--fontSecundario);
    font-weight: 600;
    font-size: 1rem;
  }
}

  .modal-close{
    background-color: var(--colorNeutro);
    height: 2rem;
    padding: 0 0.6rem;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-family: var(--fontPrincipal);
    font-weight: 500;
    font-size: 1.6rem;
   &&:hover{
      background-color: darkgray;
      color: white;
      transition: all 0.2s ease-in-out;
    }
  }

.modal-input{
  background-color:rgb(207, 207, 207);
  border-radius: 0;
  border: none;
  height: 1.6rem;
  padding: 0.2rem 0.4rem;
  

  &&:focus{
    outline: none;
  }
}

.modal-name-input{
  width: 10rem;
}

.modal-text-input{
  padding: 0.4rem 0.4rem ;
  font-style: normal;
  font-weight: 500;
  width: 100%;
  height: 100px;

}
  .modal-star-input{
    width: 6rem;
  
  }


  .opinions-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .opinion-select{
    height: 40px;
    width: 120px;
    background-color: var(--colorNeutro);
    color: black;
    padding: 8px 8px;
  }

  .opinion-select option{
   background-color: red;
   padding: 8px;
    color: black;
    width: 200px;
    height: 40px;
    border: none;
  }



  @media screen and (min-width: 690px) {
    .name-input-wrapper{
        width: 100%;
    }
    .text-input-wrapper{
        width: 100%;
    }
    
  }
  
  @media screen and (min-width: 900px) {
    .opinion-form{
      flex-direction: row;
      align-items:end;
    }

    .name-input-wrapper{
      width: 12rem;
  }

  .text-input-wrapper{
    width: 35rem;
  }

  .star-input-wrapper{
    width: 10rem;
  }
}