body{
  margin: 0;
  padding: 0;
}

.bento-main{
  padding-top: 100px;
  padding: 100px 32px 32px;

}
.gallery-info-wrapper{
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 32px;
}

.bento-main h1{
  font-size: 1.62rem;
  text-align: start;
  margin-bottom: 19px;
  border-bottom: 1px solid #5E5E5E;
}

.bento-main p{
  font-size: 1rem;
  font-weight: 300;
  color:#5E5E5E;
  margin-bottom: 32px;


}


.bento-wrapper{
  width: 100%;
  display:grid;
  gap: 12px;
/*   column-fill: auto; */
}

@media screen and (min-width: 768px){
  .bento0{
    grid-column-start: 3;
    grid-column-end:  5;
    grid-row-start: 1;
  }

  .bento1{
    object-fit: contain;
    object-position: left center;
  }
  
  .bento2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;

  }

  .bento3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
  }

  .bento4{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
  }

  .bento5{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
  }

  .bento6{
    grid-column-start: 1;
    grid-column-end:  3;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .bento7{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
  }

  .bento8{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
  }

  .bento9{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
  }

  .bento10{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
  }

  .bento11{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
  }
  
}

