#map {
  height: 180px;
  width: 80px;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  border:none;

}

.leaflet-bar a{
  color: var(--colorPrincipal);
}

.leaflet-bar a span{
 font-size: 1rem;
 font-weight: 700;
}

.maps-wrapper {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  gap:19px;
  height: 400px;
  width: 100%;
  padding: 4px 34px 8px;
  background-color: aqua;
  margin-bottom: 300px;
}

.maps-text-wrapper {
  display: flex;
  flex-direction: column;
}