#map {
  height: 180px;
  width: 80px;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  border:none;

}

.leaflet-bar a{
  color: var(--colorSecundario);
}

.leaflet-bar a span{
 font-size: 1.6rem;
 font-weight: 700;
}

.maps-wrapper {

  margin: 42px auto;
  display: flex;
  flex-direction: column;
  gap:19px;
  height: 400px;
  max-width: 1500px;
  padding: 4px 34px 8px;
  margin-bottom: 300px;
}

.maps-text-wrapper {
  display: flex;
  flex-direction: column;
}