.section1-wrapper{
  background-image: url("/img/sec1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  box-sizing: border-box;
/*   mask-image: linear-gradient(rgb(0, 0, 0) 75%, transparent 100%); */
}

.section1-content-wrapper{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content:center;
}

.section1-content-title{
  font-family: var(--fontSecundaria);
  font-size:3rem;
  font-weight: 600;
  color: var(--colorNeutro);

}

.section1-content-text{
  font-size:1.618rem ;
  font-weight: 600;
  color: var(--colorContraste);
}


.Section1-svg-arrow{
  background-color: var(--colorNeutro);
  border-radius: 50%;
  color: black;
  z-index: 1;
  animation-name: arrow;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 10;
  animation-delay: 3s;
  z-index: 2;
  position: absolute;
  bottom: 10%;  
  left: 44%;
  width: 2.618rem;
  height: 2.618rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

@keyframes arrow {
  0%{
    scale: 100%;
    
  }
  50%{
    scale: 90%;
    color: var(--colorContraste);
  }
}


@media screen and (min-width: 768px) {
  .section1-wrapper{
    height: 100vh;
  }

  .Section1-svg-arrow{
    bottom: 40px;  
    left: 50%;
  }
}
