.section1-wrapper{
  background-image: url("public/img/arco1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  box-sizing: border-box;
  mask-image: linear-gradient(rgb(0, 0, 0) 70%, transparent 100%);
}

.section1-content-wrapper{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content:center;
}

.section1-content-title{
  font-size:2.618rem;
  font-weight: 700;
  color: #fff;

}

.section1-content-text{
  font-size:1.618rem ;
  font-weight: 600;
  color: #2DAAE1;
}


.Section1-svg-arrow{
  color: #000;
  z-index: 1;
  animation-name: arrow;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 10;
  animation-delay: 3s;
  z-index: 10;
  position: absolute;
  bottom: 5%;  
  left: 44%;
}

@keyframes arrow {
  0%{
    scale: 100%;
    
  }
  50%{
    scale: 90%;
    color: #2DAAE1;
  }
}


@media screen and (min-width: 768px) {
  .section1-wrapper{
    height: 100vh;
  }

  .Section1-svg-arrow{
    bottom: 10px;  
    left: 50%;
  }
}
