input[type="date"] {
  max-width:49% ;
  height: 38px;
  box-sizing: content-box;
  border:none;
  cursor: pointer;
  overflow: hidden;
}

input[type="date"]:focus{
  outline-color: var(--colorPrincipal);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color:#d97d3f;
  padding: 14px;
  cursor: pointer; 
  filter: invert(1);
}

::-webkit-datetime-edit {
  background-color: var(--colorNeutro);
  padding:12px;
  cursor: pointer;
  color: var(--colorTerciario);
}
.section-form{
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 4px 34px 8px;
  gap: 54px;
  max-width: 1500px;
  height: 350px;
  margin: 0 auto;

}

.date-img{
  display: none;
}

.datePicker-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.datePicker-text-wrapper{
  display: flex;
  gap: 12px;
}

.datePicker-label-name-wrapper{
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.datePicker-label-subname-wrapper{
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.datePicker-label{
  font-size: 0.62rem;
  font-weight: 600;
}

.datePicker-input{
  width: 100%;
  height: 38px;
  font-size: 1rem;
  border: none;
  background-color: var(--colorNeutro);
  padding: 7px 12px;
  color: var(--colorTerciario);
}

.datePicker-input:focus{
  outline-color: var(--colorPrincipal);
}

.datePicker-date-wrapper{
  display: flex;
  flex-direction: column;
  gap: 7px;
}


@media screen and (min-width: 768px){
 
  input[type="date"] {
    max-width:242px ;
  }
 
  .date-img{
    display: block;
    height: 120%;
    aspect-ratio: 1.2/1;
    transform: scalex(-1);
  }

  .datePicker-wrapper{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 19px;
  }
  
  .section-form{
    gap: 0;
  }

}

