footer{
  background-color:#303030;
  color: white;

}

.footer-wrapper{
  margin: 0 auto;
  padding: 34px;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
}

.footer-content-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  gap: 12px;
}

.footer-social-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.footer-section1-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  justify-content: center;
  gap: 7px;
}
.footer-content-wrapper p{
  font-size: 1rem;
  border-bottom: solid 1px #00b4f4;
  padding: 7px 0;
}

.footer-nav-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 32px;
  margin-bottom: 34px;
}

.footer-nav{
  margin-top: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 19px;
  list-style: none;
}

.footer-nav a{
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.footer-social-icon{
   width: 100%;
   padding: 0 14px;
   display: flex;
   gap: 25px;
}
.logo-footer{
  width: 200px;
}

.social-icon{
  width: 32px;
  height: 32px;
  color: #00b4f4;
}

.footer-credits{
  padding: 34px 0;
  text-align: center;
  border-top: solid 1px #00b4f4;
}

.footer-credits a{
  color: white;
  text-decoration: none;
}

@media (min-width: 768px){
  footer{
    background-color:#303030;
    color: white;
  
  }
  
  .footer-wrapper{
    margin: 0 auto;
    padding: 34px;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: end;
  }
  .footer-content-wrapper{
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
  }
  
  .footer-social-wrapper{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 19px;
  }
  
  .footer-section1-wrapper{
    width: 30%;
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    justify-content: center;
    gap: 7px;
    padding-left: 34px;
  }
  .footer-content-wrapper p{
    font-size: 1rem;
    border-bottom: solid 1px #00b4f4;
    padding: 7px 0;
  }
  
  .footer-nav-wrapper{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 64px;
    border-right: solid 1px #00b4f4;
    margin-bottom: 34px;
  }
  
  .footer-nav{
    margin-top: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 19px;
    list-style: none;
  }
  
  .footer-nav a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .footer-social-icon{
     width: 100%;
     padding: 0 14px;
     display: flex;
     gap: 25px;
  }
  .logo-footer{
    width: 200px;
  }
  
  .social-icon{
    width: 32px;
    height: 32px;
    color: #00b4f4;
  }
  
  .footer-credits{
    padding: 34px 0;
    text-align: center;
    border-top: solid 1px #00b4f4;
  }
  
  .footer-credits a{
    color: white;
    text-decoration: none;
  }
}