@font-face {
  font-family: 'mont';
  src: url('public/fonts/Montserrat-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'mont';
  src: url('public/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'mont';
  src: url('public/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'mont';
  src: url('public/fonts/Montserrat-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'mont';
  src: url('public/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'mont';
  src: url('public/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Definir @font-face para Barlow Condensed */
@font-face {
  font-family: 'Barl';
  src: url('public/fonts/BarlowCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Barl';
  src: url('public/fonts/BarlowCondensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Barl';
  src: url('public/fonts/BarlowCondensed-MediumItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Barl';
  src: url('public/fonts/BarlowCondensed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Barl';
  src: url('public/fonts/BarlowCondensed-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Barl';
  src: url('public/fonts/BarlowCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
:root {
  --colorPrincipal: #2682c0;
  --colorSecundario: #315969;
  --colorContraste: #6DD6FF;
  --colorTerciario: #4E4E4E;
  --colorOscuro: #000;
  --colorNeutro : #E2E2E2;
  --fontPrincipal: "mont", impact;
  --fontSecundaria:  "Barl",impact, sans-serif;
  

  font-family: var(--fontPrincipal);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;

  color-scheme: light dark;
  color: rgba(12, 12, 12, 0.87);
  background-color: #ffffff;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  box-sizing: border-box;

  scroll-behavior: smooth ;
}


.btn-p{
  width: 115px;
  height: 48px;
  background-color: var(--colorPrincipal);
  color: white;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}


.stt {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--colorPrincipal);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  opacity: 0.8;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stt a{
  color: black;
}