
.telde-main{
  padding: 84px 32px;
}

.telde-titulo{
  font-style: italic;
  font-weight: 500;
  font-family:var(--fontSecundaria);
  color: var(--colorPrincipal);
  font-size: 2.6rem;
  border-bottom:1px solid var(--colorSecundario) ;
  margin-top: 32px;
}


.telde-section1{
  margin-top: 32px;
  display: flex;
  flex-direction: column-reverse;
}

.telde-main h3{
  font-family: "Barlow Condensed", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.62rem;  
}

.telde-main p{
  font-size: 1rem;
  font-weight: 300;
  color:#5E5E5E;
}

.telde-content-wrapper{
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.telde-texto-wrapper{
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.telde-img1{
  width: 100%;
  height: auto;
}

.telde-section2{
  margin-top: 32px;
  display: flex;
  flex-direction: column-reverse;
}

.telde-img2{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.telde-section3{
  margin-top: 32px;
  gap: 7px;
  display: flex;
  flex-direction: column-reverse;
}

.telde-img3-wrapper{
  display: flex;
  width: 100%;
  gap: 7px;
  overflow: hidden;

}

.telde-img3{
  width: 40%;
  object-fit: cover;
}

.telde-img4{
  width: 60%;
  object-fit: cover;

}

.telde-section4{
  margin-top: 32px;
  gap: 7px;
  display: flex;
  flex-direction: column-reverse;
}

.telde-img5{
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  

  .telde-main{
      padding-top: 120px;
      padding: 120px 52px 32px 52px;
      max-width: 1500px;
      margin: 0 auto;
    }
    
    .telde-titulo-wrapper{
      border-bottom: 1px solid var(--colorPrincipal);
      width: 70%;
    }
    
    .telde-titulo{
      color: var(--colorPrincipal);
      font-size: 2.6rem;
    }
    
    .telde-section1{
      margin-top: 54px;
      display: flex;
      flex-direction: row;
      gap: 52px;
    
      .telde-content-wrapper{
        width: 980px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 19px;
    
        .telde-texto-wrapper{
          display: flex;
          flex-direction: column;
          gap: 12px;
          width: 100%;
        }
    
      }
      .telde-img1-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
        .telde-img1{
          width: 100%;
          height: 100%;
          max-height: 464px;
          object-fit: cover;
          z-index: 3;
        }  
  
    }
    
    .telde-titulo2-wrapper{
      font-family: "Barlow Condensed", sans-serif;
      font-style: italic;
      margin-top: 19px;
      display: flex;
      flex-direction: row-reverse;
      border-bottom: 1px solid var(--colorPrincipal);
      max-width: 700px;
      margin-left: auto;
    }
    
    .telde-section2{
      padding: 34px 0;
      margin-top: 54px;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      gap: 52px;
    }
    .telde-content-wrapper{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 19px;
    }

    .telde-img2-wrapper{
      width: 934px;
      display: flex;
      align-items: center ;
    }

    .telde-img2{
      width: 100%;
      height: 350px;
      object-fit: cover;
    }

    .telde-section3{
      margin-top: 84px;
      gap: 52px;
      display: flex;
      flex-direction: row;
    }

    .telde-img3-wrapper{
      display: flex;
      width: 100%;
      gap: 52px;
      overflow: hidden;
    }

    .telde-section4{
      margin-top: 100px;
      gap: 52px;
      display: flex;
      flex-direction: row-reverse;
    }

    .telde-img5-wrapper{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .telde-img5{
      width: 100%;
      height: 90%;
      max-height: 464px;
      object-fit: cover;
    }
}
